*.vsp
*.csproj.user
*.psess
*.sln.docstates
*.suo
*.vcxproj.user
/External/Key.snk
/External/ProjectBase2010/bin/
/External/ProjectBase2010/obj/
/Prepared/
/SimpleC.sdf
/SimpleC.opensdf
/Tvl.VisualStudio.Language.Alloy/TestGenerated/
/Tvl.Java.DebugHostWrapper/Release/
/Tvl.Java.DebugHostWrapper/x64/
/Tvl.Java.DebugHostWrapper/Debug/
/TestGenerated/
/Templates/Antlr/ItemTemplates/CombinedGrammarItemTemplate/bin/
/Templates/Antlr/ItemTemplates/CombinedGrammarItemTemplate/obj/
/Templates/Antlr/ItemTemplates/LexerGrammarItemTemplate/bin/
/Templates/Antlr/ItemTemplates/LexerGrammarItemTemplate/obj/
/Templates/Antlr/ItemTemplates/ParserGrammarItemTemplate/bin/
/Templates/Antlr/ItemTemplates/ParserGrammarItemTemplate/obj/
/Templates/Antlr/ItemTemplates/TreeGrammarItemTemplate/bin/
/Templates/Antlr/ItemTemplates/TreeGrammarItemTemplate/obj/
/Templates/Java/ItemTemplates/JavaClassItemTemplate/bin/
/Templates/Java/ItemTemplates/JavaClassItemTemplate/obj/
/Templates/Java/ItemTemplates/JavaCodeFileItemTemplate/bin/
/Templates/Java/ItemTemplates/JavaCodeFileItemTemplate/obj/
/Templates/Java/ItemTemplates/JavaInterfaceItemTemplate/bin/
/Templates/Java/ItemTemplates/JavaInterfaceItemTemplate/obj/
/Templates/Java/ProjectTemplates/JavaClassLibraryProjectTemplate/bin/
/Templates/Java/ProjectTemplates/JavaClassLibraryProjectTemplate/obj/
/Templates/Java/ProjectTemplates/JavaConsoleApplicationProjectTemplate/bin/
/Templates/Java/ProjectTemplates/JavaConsoleApplicationProjectTemplate/obj/
/Templates/Java/ProjectTemplates/JavaEmptyProjectProjectTemplate/bin/
/Templates/Java/ProjectTemplates/JavaEmptyProjectProjectTemplate/obj/
/Tvl.VisualStudio.InheritanceMargin/bin/
/Tvl.VisualStudio.InheritanceMargin/obj/
/Tvl.VisualStudio.Language.Antlr3/bin/
/Tvl.VisualStudio.Language.Antlr3/obj/
/Tvl.VisualStudio.Language.Alloy/bin/
/Tvl.VisualStudio.Language.Alloy/obj/
/Tvl.Java.DebugInterface/bin/
/Tvl.Java.DebugInterface/obj/
/Tvl.VisualStudio.Language.Chapel/bin/
/Tvl.VisualStudio.Language.Chapel/obj/
/Tvl.VisualStudio.Framework/bin/
/Tvl.VisualStudio.Framework/obj/
/Tvl.VisualStudio.OutputWindow/bin/
/Tvl.VisualStudio.OutputWindow/obj/
/Tvl.VisualStudio.Language.Go/bin/
/Tvl.VisualStudio.Language.Go/obj/
/Tvl.VisualStudio.Antlr/bin/
/Tvl.VisualStudio.Antlr/obj/
/Tvl.Java.DebugInterface.Client/bin/
/Tvl.Java.DebugInterface.Client/obj/
/Tvl.Java.DebugInterface.Types/bin/
/Tvl.Java.DebugInterface.Types/obj/
/Tvl.Java.DebugHost/bin/
/Tvl.Java.DebugHost/obj/
/Tvl.VisualStudio.Language.Java/bin/
/Tvl.VisualStudio.Language.Java/obj/
/Tvl.VisualStudio.Language.Implementation/bin/
/Tvl.VisualStudio.Language.Implementation/obj/
/Tvl.VisualStudio.Language.Markdown/bin/
/Tvl.VisualStudio.Language.Markdown/obj/
/Tvl.Java.BuildTasks/bin/
/Tvl.Java.BuildTasks/obj/
/Tvl.Go.Compiler/bin/
/Tvl.Go.Compiler/obj/
/Tvl.VisualStudio.Tools.Antlr/bin/
/Tvl.VisualStudio.Tools.Antlr/obj/
/Tvl.VisualStudio.Text/bin/
/Tvl.VisualStudio.Text/obj/
/Tvl.VisualStudio.Language.Php/bin/
/Tvl.VisualStudio.Language.Php/obj/
/Tvl.Core/bin/
/Tvl.Core/obj/
/Tvl.Go.Build.Tasks/bin/
/Tvl.Go.Build.Tasks/obj/
/Tvl.VisualStudio.Shell.OutputWindow.Interfaces/bin/
/Tvl.VisualStudio.Shell.OutputWindow.Interfaces/obj/
/Tvl.VisualStudio.Language.StringTemplate4/bin/
/Tvl.VisualStudio.Language.StringTemplate4/obj/
/Tvl.VisualStudio.Language/bin/
/Tvl.VisualStudio.Language/obj/
/Tvl.VisualStudio.Navigator/bin/
/Tvl.VisualStudio.Navigator/obj/
/Tvl.VisualStudio.Shell.Implementation/bin/
/Tvl.VisualStudio.Shell.Implementation/obj/
/Tvl.VisualStudio.Shell.OutputWindow.Implementation/bin/
/Tvl.VisualStudio.Shell.OutputWindow.Implementation/obj/
/Tvl.VisualStudio.Shell/bin/
/Tvl.VisualStudio.Shell/obj/
/Tvl.VisualStudio.Text.Antlr/bin/
/Tvl.VisualStudio.Text.Antlr/obj/
/Tvl.VisualStudio.Text.Implementation/bin/
/Tvl.VisualStudio.Text.Implementation/obj/
Tvl.VisualStudio.Language.Go/TestGenerated/
Tvl.VisualStudio.Language.StringTemplate4/TestGenerated/
Tvl.VisualStudio.Language.Php/TestGenerated/
