<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3" version="3.5.0.3-alpha002" targetFramework="net40" />
  <package id="Antlr3.Runtime" version="3.5.0.3-alpha002" targetFramework="net40" />
  <package id="Antlr3.Runtime.Debug" version="3.5.0.3-alpha002" targetFramework="net40" />
  <package id="StringTemplate3" version="3.5.0.3-alpha002" targetFramework="net40" />
</packages>